@model PolymorphicPartialView.Models.UserDepartmentModel

<input type="hidden" asp-for="PartialView" />
<div>
    <div class="header">Manager:</div>
    <div class="item"><input type="text" asp-for="Manager" /></div>
</div>